/* resources/css/app.css */
@import 'tailwindcss';

/* Force Urbanist on everything */
html, body, #app, * {
  font-family: 'Urbanist', sans-serif !important;
}

@theme {
  /* This is for Tailwind classes, but we're forcing above */
  --font-family-sans: 'Urbanist', sans-serif;
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}
